@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

body,
html {
  font-family: "Roboto", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
  /* background-color: #ECE2E1; */
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );
}

/* Navbar */

.navbar-nav a {
  font-size: 17px;
}

.navbar-brand {
  letter-spacing: 3px;
}

.nav-link {
  background: -webkit-linear-gradient(rgb(163, 163, 163), #eee);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.brand {
  font-size: 25px !important;
  background: -webkit-linear-gradient(#ff8008, #ffc837);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link.active {
  background: -webkit-linear-gradient(#ff8008, #ffc837);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttons {
  background: -webkit-linear-gradient(rgb(163, 163, 163), #eee);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 110px;
  max-height: 38px;
}
.buttons.active {
  background: -webkit-linear-gradient(#ff8008, #ffc837);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  position: relative;
  top: 7vh;
  bottom: 0;
  margin-top: auto;
  text-align: center;
  background: -webkit-linear-gradient(#ff8008, #ffc837);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-us {
  background: -webkit-linear-gradient(rgb(163, 163, 163), #eee);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carousel-text {
  background: -webkit-linear-gradient(#08b1ff, #6237ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
